* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #040404;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 600px;
  height: 400px;
}

.toast {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 90%;
  background: #fff;
  color: #000;
  padding: 0.8rem 1rem;
  border-radius: 4px;
}

.wrapper {
  padding: 1rem;
}

.header {
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logged {
  display: flex;
  align-items: center;
}

.nav-logged li:first-child {
  margin-right: 1rem;
}

.brand {
  display: flex;
  align-items: center;
}

.brand-logo {
  width: 40px;
  height: 40px;
}

.brand-name {
  margin-left: 0.5rem;
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.logout-btn {
  border: none;
  padding: 0.4rem 0.5rem;
  border-radius: 4px;
  font-weight: 500;
}

.logout-btn:hover {
  background: #c4c4c4;
}

.seperator {
  background-color: #fff;
  margin: 0 0.5rem;
  color: #000;
}

.hero {
  margin-top: 5rem;
  text-align: center;
}

.title {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.techs {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: -3rem;
}

.techs img {
  width: 100%;
  z-index: -1;
  height: 100%;
}

.cta {
  margin-top: -1rem;
}

.cta-button {
  text-decoration: none;
  background: rgb(9, 113, 241) none repeat scroll 0% 0%;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 0.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form input,
.form button {
  margin: 1rem 0;
  border: none;
  padding: 0.8rem 0.5rem;
  font-size: 0.8rem;
  background-color: #fff;
}

.form button {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form button:hover {
  background: #c4c4c4;
}

.projects {
  padding: 1rem 0;
  list-style-type: none;
}

.project {
  margin: 1rem 0;
  width: 100%;
  background: #333;
  padding: 0.5rem 0.2rem;
  transition: 0.3s all ease-in-out;
}

.project:hover {
  background: #494444;
}

.project-title {
  color: #fff;
  text-decoration: none;
}

.project-code {
  background: #fff;
}

.total-projects {
  text-align: right;
}

.total-projects p {
  font-size: 0.8rem;
}

.save-btn-wrapper {
  text-align: right;
}

.save-btn {
  border: none;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  font-size: 1.05rem;
  background-color: #040404;
  color: #fff;
  border-radius: 4px;
  margin: 1rem;
}

.save-btn:hover {
  background-color: #333;
}

.create-link {
  color: #fff;
}

.top-pane {
  background-color: hsl(255, 6%, 25%);
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-wrapper {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  padding: 0.5rem;
  background-color: hsl(225, 6%, 25%);
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}

.editor-wrapper.collapsed {
  flex-grow: 0;
}

.editor-wrapper.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.CodeMirror {
  height: 100% !important;
}

@media only screen and (min-width: 799px) {
  .techs img {
    width: 400px;
    height: 300px;
  }

  .title {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .form {
    width: 50%;
    margin: 0 auto;
  }

  .create-link-wrapper {
    text-align: center;
  }
}

@media only screen and (min-width: 1239px) {
  .title {
    font-size: 2rem;
  }
  .lead {
    font-size: 1.3rem;
  }

  .techs img {
    width: 500px;
    height: 400px;
  }

  .form {
    width: 40%;
  }
}
